<div class="page-header">
  <h1>Timeline</h1>
</div>

<table>
  	<tbody>
		<tr>
			<td>
				<h4>Title</h4>
			</td>
			<td>
				<h4>Posted</h4>
			</td>
		</tr>
	    <% @posts.each do |post| %>
	      <tr>
	        <td><%= link_to post.title, post %></td>
	        <td><%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
	      </tr>
    	<% end %>
  	</tbody>
</table>
    <%= will_paginate @post %> 
<br>
<%= link_to "New Post", new_post_path, :class => "btn btn-default" %>
